.main-div{
    width: auto;
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("betapped.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

}

.bottom-div{
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.sign-links{
  display: flex;
  justify-content: flex-end;
  height: 15%;
  align-items: center;
}

.sign-links button{
    margin-right: 10px;
    height: 50px;
    border-radius: 7px;
    background-color: Transparent;
    border-color: white;
    font-size: 17px
}

.sign-links button:hover{
  background-color: transparent;
  color: black;
}

.link-create{
  width: 210px;
  height: 45px;
  border: solid 2px white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 4px;
  line-height: 47px;
  color: white;
  text-align: center;
  font-family: 'ProximaNova','Helvetica',sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.link-create:hover{
  background-color: white;
  color: black;
}


.link-login{
  width: 100px;
  height: 45px;
  border: solid 2px white;
  margin-right: 16px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 4px;
  line-height: 47px;
  color: white;
  text-align: center;
  font-family: 'ProximaNova','Helvetica',sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.link-login:hover{
  background-color: white;
  color: black;
}


.phone-img{
  background-image: url("phone.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  height: 100%;
  width: 46%;
}

.logo-div{
    height: 100%;
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.beer-img{
  background-image: url("beer2.png");
  background-repeat: no-repeat;
  background-size: contain;
      height: 24%;
    width: 30%;
}

#app-name{
  font-size: 47px;
    color: white;
    width: 37%;
    font-family: ProximaNova,Helvetica,sans-serif;
    font-weight: 700;
}

#app-line{
  font-size: 13px;
  color: white;
  font-family: ProximaNova,Helvetica,sans-serif;
  font-weight: 500;
}

#line-below{
    background: #ffc000;
    height: 4px;
    margin: 20px 0;
    width: 50px;
}

/* .link-login a{
  text-decoration: none;
  color: white;
  
  
}
    .link-create a{
      text-decoration: none;
      color: white;
    } */